<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>SpringSecurityProject</display-name>
  <filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
	 <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
</listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:config/spring-common.xml,classpath:config/applicationContext-security.xml,</param-value>
  </context-param>
  <servlet>
    <servlet-name>springMVC</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:config/spring-mvc.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>springMVC</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
  </listener>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- 自定义参数：webservice地址 -->
  <context-param>
  	<param-name>itemurl</param-name>
  	<param-value>http://116.236.114.60:8080/Item_Service/itemWebService?wsdl</param-value>
  </context-param>
  <context-param>
  	<param-name>companyurl</param-name>
  	<param-value>http://121.196.222.216:8080/Company_Service/companyWebService?wsdl</param-value>
  </context-param>
  <context-param>
  	<param-name>blocurl</param-name>
  	<param-value>http://121.196.222.216:8080/Bloc_Service/blocWebService?wsdl</param-value>
  </context-param>
  
  
  <!-- 集团层下所有公司url -->
  <context-param>
  	<param-name>13</param-name>
  	<param-value>http://121.196.222.216:8080/Company_Service/companyWebService?wsdl</param-value>
  </context-param>
<!--   <context-param> -->
<!--   	<param-name>25</param-name> -->
<!--   	<param-value>http://192.168.73.146:8080/Company_Service/companyWebService?wsdl</param-value> -->
<!--   </context-param> -->
 
  <!-- 自定义分层参数  1:集团 2:公司 3:事业部 4:项目部 -->
  <context-param>
  	<param-name>hierarchy</param-name>
  	<param-value>2</param-value>
  </context-param>
  <context-param>
  	<param-name>websocket</param-name>
  	<param-value>"ws://121.196.222.216:5554/SerialPortDemo/ws/张三"</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>/index.jsp</welcome-file>
  </welcome-file-list>
</web-app>