@CHARSET "UTF-8";
@font-face {  
font-family: SpringSoftBold;  
src: url('../font/SourceHanSansCN-Medium.otf');  /*思源黑体*/
}  

body {
	font-family: SpringSoftBold;
	font-size:12px;
    background-image: url(../images/xm-back.png);
    background-repeat: no-repeat;
	background-size:100%;
}

#logindiv{
    background-image: url(../images/xm-login.png);
    background-repeat: no-repeat;
	background-size:100% 100%;
	height:420px;
	width:397px;
	position:fixed;
	right:15%;
}

#logindiv #formdiv{
	margin:40px;
	margin-top:170px;
	width:80%;
}

table td{
	height:50px;
	background-color: #ffffff;
}

table td input{
	height:30px;
	width:200px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}

#loginbutton{
	background-color:#2890f9;
	height:50px;
	color:#ffffff;
	font-size:28px;
	font-weight: bold;
}

#tenghanbottom{
	margin-top:440px;
	text-align:center;
	color:#ffffff;
}

/*
table {
    width: 600px;
    height: 300px;
    margin: 15px;
    background-color: gainsboro;
    border-radius: 5px;
}

.logindiv {
    width: 630px;
    height: 330px;
    border: 1px solid darkgray;
    border-radius: 20px;
    margin-left: calc(50% - 315px);
}

h1 {
    margin-top: 100px;
    color: white;
    letter-spacing: 12px;
    font-size: 40px;
}

.loginspan {
    margin-top: 3px;
}

td div {
    border: 1px solid black;
    border-radius: 20px;
    background-image: url(../images/logos.png);
    background-size: 100%;
    background-color: black;
    width: 130px;
    height: 130px;
    margin-left: 70px;
    margin-rigjt: 50px;
}

tr td:first-child {
    width: 17%;
}

td img {
    width: 77%;
}

#btnLogin {
    background-color: deepskyblue;
    border-radius: 8px;
    width: 100px;
    height: 30px;
}

td > span {
    letter-spacing: 2px;
}

input[type=text],input[type=password] {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #bfcbd9;
    box-sizing: border-box;
    color: #1f2d3d;
    display: inline-block;
    font-size: inherit;
    height: 30px;
    line-height: 1;
    outline: none;
    padding: 3px 10px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
}

#txtCode {
    width: 100px;
}*/