<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.dao.DataStatisticsMapper">

	<resultMap id="dataMap" type="com.spring.model.DataStatistics">
		<id property="id" column="fid"></id> 
        <result property="name" column="fname"></result>  
        <result property="total" column="total"></result>  
        <result property="num" column="num"></result>  
       	<result property="machinenum" column="machinenum"></result>
       	<result property="junctionnum" column="junctionnum"></result>
       	<result property="worktime" column="worktime"></result>
        <result property="wireweight" column="fwire_weight"></result>
       	<result property="speed" column="fspeed"></result>
       	<result property="airflow" column="fair_flow_volume"></result>
       	<result property="standbypower" column="fstandby_power"></result>
       	<result property="electricity" column="electricity"></result>
       	<result property="voltage" column="voltage"></result>
	</resultMap>
	
	<!-- 获取项目部焊机总数 -->
	<select id="getItemMachineCount" resultMap="dataMap">
		select * from (
		select i.fid,i.fname,count(w.fid) total from tb_insframework i 
		inner join tb_welding_machine w on w.finsframework_id=i.fid 
		where i.ftype=23 
		group by i.fid
		UNION
		select i.fid,i.fname,0 total from tb_insframework  i 
		where i.ftype=23 
		and i.fid not in 
		(select i.fid from tb_insframework i 
		inner join tb_welding_machine w on w.finsframework_id=i.fid 
		where i.ftype=23 
		 group by i.fid )
		)temp
	</select>
	
	<!-- 获取开机焊机数 -->
	<select id="getStartingUpMachineNum" resultType="java.lang.Integer">
		select count(*) from(
		select fmachine_id from tb_work where 1=1
		<if test="itemid!=null and itemid!=''">
			and fitemid= #{itemid}
		</if>
		<if test="dto!=null and dto!=''">
			<if test="dto.dtoTime1!=null and dto.dtoTime1!=''">
				and fstarttime &gt;= #{dto.dtoTime1}
			</if>
			<if test="dto.dtoTime2!=null and dto.dtoTime2!=''">
				and fendtime &lt;= #{dto.dtoTime2}
			</if>
		</if>
		UNION 
		select fmachine_id from tb_standby where 1=1
		<if test="itemid!=null and itemid!=''">
			and fitemid= #{itemid}
		</if>
		<if test="dto!=null and dto!=''">
			<if test="dto.dtoTime1!=null and dto.dtoTime1!=''">
				and fstarttime &gt;= #{dto.dtoTime1}
			</if>
			<if test="dto.dtoTime2!=null and dto.dtoTime2!=''">
				and fendtime &lt;= #{dto.dtoTime2}
			</if>
		</if>
		UNION
		select fmachine_id from tb_alarm where 1=1
		<if test="itemid!=null and itemid!=''">
			and fitemid= #{itemid}
		</if>
		<if test="dto!=null and dto!=''">
			<if test="dto.dtoTime1!=null and dto.dtoTime1!=''">
				and fstarttime &gt;= #{dto.dtoTime1}
			</if>
			<if test="dto.dtoTime2!=null and dto.dtoTime2!=''">
				and fendtime &lt;= #{dto.dtoTime2}
			</if>
		</if>
		)temp
		
	</select>
	
	<!-- 获取工作的焊机数，焊口数以及焊接时长 -->
	<select id="getWorkNum" resultMap="dataMap">
		select count(DISTINCT(fmachine_id)) machinenum,count(DISTINCT(fjunction_id)) junctionnum,sum(fworktime) work
		from tb_work where 1=1
		<if test="itemid!=null and itemid!=''">
			and fitemid= #{itemid}
		</if>
		<if test="dto!=null and dto!=''">
			<if test="dto.dtoTime1!=null and dto.dtoTime1!=''">
				and fstarttime &gt;= #{dto.dtoTime1}
			</if>
			<if test="dto.dtoTime2!=null and dto.dtoTime2!=''">
				and fendtime &lt;= #{dto.dtoTime2}
			</if>
		</if>
	</select>
	
	<!-- 获取开机总时长 -->
	<select id="getStaringUpTime" resultType="java.math.BigInteger">
		select sum(num) from(
		select sum(fworktime) num from tb_work where 1=1
		<if test="itemid!=null and itemid!=''">
			and fitemid= #{itemid}
		</if>
		<if test="dto!=null and dto!=''">
			<if test="dto.dtoTime1!=null and dto.dtoTime1!=''">
				and fstarttime &gt;= #{dto.dtoTime1}
			</if>
			<if test="dto.dtoTime2!=null and dto.dtoTime2!=''">
				and fendtime &lt;= #{dto.dtoTime2}
			</if>
		</if>
		UNION ALL
		select sum(fstandbytime) num from tb_standby where 1=1
		<if test="itemid!=null and itemid!=''">
			and fitemid= #{itemid}
		</if>
		<if test="dto!=null and dto!=''">
			<if test="dto.dtoTime1!=null and dto.dtoTime1!=''">
				and fstarttime &gt;= #{dto.dtoTime1}
			</if>
			<if test="dto.dtoTime2!=null and dto.dtoTime2!=''">
				and fendtime &lt;= #{dto.dtoTime2}
			</if>
		</if>
		UNION ALL
		select sum(falarmtime) num from tb_alarm where 1=1
		<if test="itemid!=null and itemid!=''">
			and fitemid= #{itemid}
		</if>
		<if test="dto!=null and dto!=''">
			<if test="dto.dtoTime1!=null and dto.dtoTime1!=''">
				and fstarttime &gt;= #{dto.dtoTime1}
			</if>
			<if test="dto.dtoTime2!=null and dto.dtoTime2!=''">
				and fendtime &lt;= #{dto.dtoTime2}
			</if>
		</if>
		)temp
	</select>
	
	<!-- 获取焊丝重量，送丝速度，气流量，待机功率-->
	<select id="getParameter" resultMap="dataMap">
		SELECT fwire_weight,fspeed,fair_flow_volume,fstandby_power from tb_parameter
	</select>
	
	<select id="getStandytime" resultType="java.math.BigInteger">
		select sum(fstandbytime) worktime from tb_standby where 1=1 
		<if test="itemid!=null and itemid!=''">
			and fitemid= #{itemid}
		</if>
		<if test="dto!=null and dto!=''">
			<if test="dto.dtoTime1!=null and dto.dtoTime1!=''">
				and fstarttime &gt;= #{dto.dtoTime1}
			</if>
			<if test="dto.dtoTime2!=null and dto.dtoTime2!=''">
				and fendtime &lt;= #{dto.dtoTime2}
			</if>
		</if>
	</select>
	
	<select id="getWorkTimeAndEleVol" resultMap="dataMap">
		SELECT avg(ele) electricity,avg(vol) voltage ,sum(t) worktime from (
		select avg(felectricity) ele,avg(fvoltage) vol,sum(fworktime) t from tb_work where 1=1 
		<if test="itemid!=null and itemid!=''">
			and fitemid= #{itemid}
		</if>
		<if test="dto!=null and dto!=''">
			<if test="dto.dtoTime1!=null and dto.dtoTime1!=''">
				and fstarttime &gt;= #{dto.dtoTime1}
			</if>
			<if test="dto.dtoTime2!=null and dto.dtoTime2!=''">
				and fendtime &lt;= #{dto.dtoTime2}
			</if>
		</if>
		UNION all 
		select avg(felectricity) ele,avg(fvoltage) vol,sum(falarmtime) t from tb_alarm where 1=1 
		<if test="itemid!=null and itemid!=''">
			and fitemid= #{itemid}
		</if>
		<if test="dto!=null and dto!=''">
			<if test="dto.dtoTime1!=null and dto.dtoTime1!=''">
				and fstarttime &gt;= #{dto.dtoTime1}
			</if>
			<if test="dto.dtoTime2!=null and dto.dtoTime2!=''">
				and fendtime &lt;= #{dto.dtoTime2}
			</if>
		</if>
		)temp
	</select>
	
</mapper>
